table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

table th, table td {
    text-align: left;
    padding: 16px;
    border: 1px solid #ddd;
}
 
table tr:nth-child(even) {
    background-color: #f2f2f236;
}

table tr:hover {
    background-color: #dddddd63;
    transition: 0.5s;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(99,94,249);
    color: rgb(182, 182, 182);
}

h4 {
    cursor: pointer;
    color: rgb(167, 167, 167);
}

h4:hover {
    color: white;
    transition: 0.4s;
}