table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90vw;
    border: 1px solid #ddd;
}

table th, table td {
    text-align: left;
    padding: 16px;
    border: 1px solid #999999;
    color: rgb(228, 228, 228);
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(99,94,249);
    color: white;
}

h4 {
    cursor: pointer;
}

h4:active {
    color: rgb(131, 131, 131);
}