.title {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: white;
}

.title:hover {
    color: rgb(206, 206, 206);
    transition: 0.3s;
}

.titleNotID {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: rgb(206, 206, 206);
}

.titleNotID:hover {
    color: white;
    transition: 0.3s;
}

.row {
    max-height: 70vh;
    overflow: auto;
    margin-bottom: 5px;
}

div {
    color: white;
}